{{#extends "base"}}

{{#block "content"}}
        <h1>Sakura Fine Dining</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nesciunt maiores numquam debitis illo provident autem expedita quas, amet esse maxime culpa odit quis, aliquam nobis cumque dicta officiis sit?</p>
{{/block}}

{{#block "title"}}
Home
{{/block}}

{{/extends}}