{{#extends "base"}}

{{#block "content"}}
<form method="POST">
    <div>
        <label>Food Name:</label>
        <input type="text" name="foodName" class="form-control"/>
    </div>
    <div>
        <label>Calories:</label>
        <input type="text" name="calories" class="form-control"/>
    </div>
    <div>
        <label>Meal:</label>
        <input type="radio" name="meal" value="breakfast" checked/><label>Breakfast</label>
        <input type="radio" name="meal" value="lunch"/><label>Lunch</label>
        <input type="radio" name="meal" value="dinner"/><label>Dinner</label>
    </div>
    <div>
        <label>Cuisine</label>
        <select class="form-control" name="cuisine">
            <option value="chinese">Chinese</option>
            <option value="western">Western</option>
            <option value="japanese">Japanese</option>
        </select>
    </div>
    <div>
        <input name="tags" type="checkbox" value="healthy"/><label>Healthy</label>
        <input name="tags" type="checkbox" value="low-carb"/><label>Low Carb</label>
        <input name="tags" type="checkbox" value="vegan"/><label>Vegan</label>
        <input name="tags" type="checkbox" value="high-fibre"/><label>High Fibre</label>
    </div>
     <input type="submit" class="btn btn-primary mt-3"/>
</form>

{{/block}}

{{/extends}}