{{#extends "base"}}

{{#block "content"}}
<form method="POST">
    <div>
        <label>Weight:</label>
        <input type="number" name="weight" class="form-control"/>
    </div>
    <div>
        <label>Height</label>
        <input type="number" name="height" class="form-control"/>
    </div>
    <input type="submit" class="btn btn-primary mt-3"/>
</form>
{{/block}}

{{/extends}}