{{#extends "base"}}

{{#block "content"}}
<h1>Summary of New Food</h1>
<ul>
    <li>Name of Food: {{foodName}}</li>
    <li>Calories: {{calories}}</li>
    <li>Meal: {{meal}}</li>
    <li>Cuisine: {{cuisine}}</li>
</ul>
{{/block}}

{{/extends}}